label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

input, textarea {
    width: 100%;
    padding: 20px;
    display: block;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 1.2rem;
    transition: .5s;
    resize: none;
}

input[type="submit"]:hover {
    background-color: lightgrey;
    cursor: pointer;
}