@use'mixins' as * ;

section {

    min-height: 100vh;
    
    &:nth-of-type(even) {

        background-color: whitesmoke;
    }

    h2 {
        padding-top : 12vh; 
        text-align: center;
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2rem;
        // padding: 30px;
    }

p {
    padding-left: 30px; 


    // background-color: yellow;
    // @include medium {
    //     background-color: lightblue;
    // }
    // @include large {
    //     background-color:lightcoral ;
    // }
}


}